@import '../../SharedStyles/styles.scss';

.post {
    background-color: $dark-grey;
    list-style: none;
    color: $bright-white;
    min-height: 170px;
}

.bubble {
    background-color: $gold;
    width: 148px;
    height: 148px;
    border-radius: 25%;
    float: left;
    margin: 10px;
}

.even {
    float: right;
}

.user {
    text-overflow: ellipsis;
    color: $dark-grey;
    width: 124px;
    height: 124px;
    padding: 12px;
    position: absolute;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 125px;
    overflow: hidden;
    font-size: 18pt;
    font-family: $serif;
}

.textWrapper {
    padding: 10px;
}

.title {
    font-size: 20pt;
    font-family: $sans;
    margin: 0;
    text-transform: capitalize;
}

.text {
    font-size: 16pt;
    font-family: $sans;
    margin: 20px;
}