@import '../../SharedStyles/styles.scss';

.title {
    font-size: 30pt;
    font-family: $serif;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 75pt;
    font-weight: normal;
    margin: 0;

    @media (min-width: $md) {
        font-size: 32pt;
    }
}