@import '../../SharedStyles/styles.scss';

.button {
   background-color: $gold; 
   color: $soft-black;
   border: 4pt solid $soft-black;
   font-family: $sans;
   font-size: 16pt;
}

.close {
     position: fixed;
}

.filterBy {
    font-size: 18px;
    font-family: $serif;
    font-weight: bold;
}

.user {
    font-size: 16px;
    font-family: $sans;
}

.modal {
    display: none;
    width: 100%;
    z-index: 2;
    background-color: $gold;
    position: absolute;
    top: 52px;
    height: 270px;
    overflow: scroll;
    padding-bottom: 15px;
}

.open {
    display: block;
}

.li {
    list-style: none;
}

.grey {
    background-color: $light-grey;
    pointer-events: none;
}

.multiSelect {
    margin: 10px;
    background-color: $soft-white;
    color: $soft-black;
    font-family: $sans;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}