.title {
    font-size: 32pt;
    font-family: "Playfair Design", "Didot", serif;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 100pt;
    font-weight: normal;
}