@import '../SharedStyles/styles.scss';

.topNav {
    width: 100%;
    height: 140px;
    background-color: $soft-white;
    position: relative
}    

.loaderWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.loader {
    border: 16px solid $light-grey; /* Light grey */
    border-top: 16px solid $gold; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}